.panel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.panel-btns {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.panel-icon {
  width: 16px;
  height: 16px;
}

.panel-form {
  display: flex;
  gap: 1rem;
}

.form-group_input {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 120px;

  color: var(--color-gray);
  font-size: 0.9rem;
}